# InfluxDB Configuration
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=your-super-secret-token-here
INFLUXDB_ORG=IIS_SUDPI
INFLUXDB_BUCKET=finansijski_dogadjaji

# FastAPI Configuration
API_HOST=0.0.0.0
API_PORT=8001
DEBUG=True

# Django API Configuration (za integraciju)
DJANGO_API_URL=http://localhost:8000
